<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Probono APP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 id="logo">
            <a href="/">
                PRO BONO
            </a>
        </h1>
        <div id="sair">
            <button class="btn" type="button" id="sair">
                Sair
            </button>
        </div>
    </header>
    <div id="container" style="height: 765px;">
        <div id="infoProcesso">
            <div id="numeroProcesso" class="border-borderRadius3">
                <h3>Processo Número: </h3>
                <span class="border-borderRadius3">
                    <%=numeroProcesso%>
                </span>
            </div>
            <%if(req.session.autorizadoAdvogado == true){%>
            <div id="cadastrarAndamento">
                <form action="/andamento/incluir" method="post">
                    <h3>CADASTRO DE ANDAMENTO</h3>
                    <label for="descAndamento">DESCRIÇÃO DO ANDAMENTO</label>
                    <textarea placeholder="Descrição do Andamento" value="" id="descAndamento"
                        name="descAndamento"></textarea><br>
                    <input type="hidden" value="<%=numeroProcesso%>" id="numeroProcesso" name="numeroProcesso">
                    <label for="date">Data e Horário</label>
                    <input type="date" id="date" name="date">
                    <label for="time"></label>
                    <input type="time" id="time" name="time">
                    <button class="btn" type="submit" id="cadastrar" value="Cadastrar">
                        CADASTRAR
                    </button>
                </form> <br>
                <form action="/traducao/incluir" method="post">
                    <h3>CADASTRO DE TRADUÇÃO</h3>
                    <label for="descAndamento"></label>
                    <textarea placeholder="Descrição do Andamento Alvo" value="" id="descAndamento"
                        name="descAndamento"></textarea>
                    <label for="traducao"></label>
                    <textarea placeholder="Tradução do Andamento acima" value="" id="tradAndamento"
                        name="tradAndamento"></textarea>
                    <button class="btn" type="submit" id="cadastrarTradução" value="Cadastrar">
                        CADASTRAR
                    </button>
                </form>
            </div>
            <%}%>
            <%if(req.session.autorizadoCliente == true){%>
            <div id="traducao">
                <textarea placeholder="Texto a ser traduzido" id="areaTraducao" value=""></textarea>
                <button class="btn" id="btnTraduzir">
                    Traduzir
                </button>
                <textarea style="margin-left:23px;" placeholder="O texto traduzido irá aparecer aqui" id="areaTraduzida"
                    value=""></textarea>
            </div>
            <%}%>
        </div>
        <div id="andamento" style="margin-right: 65px;">
            <div id="andamentos" class="andamentos">
                <%if(andamento !== 'undefined'){%>
            <ul id="lista">
                <%for(var i = 0; i < andamento.length; i++){%>
                <li>
                    <h4 class="andamentosDesc">Descrição do Andamento</h4>
                    <p class="border-borderRadius3">
                        <%=andamento[i].descAndamento%> No dia
                        <%=andamento[i].date%> às 
                        <%=andamento[i].time%>
                    </p>
                </li>
                <%}%>
                </ul>
                <%}%>
        </div>
    </div>
    </div>
</body>
<script>
    document.getElementById('sair').addEventListener('click', function () {
        window.location.href = "/sair";
    });
</script>
<script>
    var xhttp = new XMLHttpRequest();
    document.getElementById('btnTraduzir').addEventListener('click', function () {
        var traducao = document.getElementById('traducao');
        var areaTraducao = document.getElementById('areaTraducao').value;
        var areaTraduzida = document.getElementById('areaTraduzida');
        traducao.append(areaTraduzida);
        xhttp.onreadystatechange = function () {
            document.getElementById('areaTraduzida').innerHTML = this.responseText;
        }
        xhttp.open('GET', '/traducao?areaTraducao=' + areaTraducao, true);
        xhttp.send();

    });
</script>

</html>